html {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Montserrat-Black", sans-serif;
  text-align: center;
  background-color: #f1f6f9;
  overflow: auto;
  margin: 0px;
  padding: 0px;
}

h1,
h4,
h5 {
  font-family: "Montserrat-Black", sans-serif;
}

h6 {
  font-family: "Montserrat-Black", sans-serif;
}

h3 {
  font-family: "Montserrat-Black", sans-serif;
  color: white !important;
}

h2 {
  font-family: "Archivo Black", sans-serif !important;
  font-size: 35px !important;
  color: #14274e !important;
  padding-bottom: 45px !important;
}

p {
  padding: 5px 0;
  margin-bottom: auto;
  font-family: "Montserrat-Black", sans-serif;
}

.div-iotImage {
  margin-left: 25%;
  margin-top: 3%;
}

.row {
}

/* sections */

.colored-section {
  background-color: #f1f6f9;
  padding: 55px 0px 100px 0px;
  text-align: center;
}

.colored-section-blue {
  background-color: #14274e;
  padding: 55px 0px 100px 0px;
  text-align: center;
}

.logo-section {
  background-color: #f1f6f9;
  text-align: center;
}

.footer-section {
  background-color: #394867;
  padding: 5px 0px 40px 0px;
  text-align: center;
  margin-bottom: 0px !important;
}

.colored-section-nowhite {
  padding: 45px 65px;
  text-align: center;
  background-image: url("../img/projects.png");
}

.white-section {
  background-color: #f1f6f9;
  text-align: center;
}

.white-section-contact {
  background-color: #f1f6f9;
  text-align: center;
  padding: 1px;
}

/* images */
.image {
  width: 100%;
  height: auto;
}

/* navbar */
.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 1.2rem;
}

/* title */
#title .container-fluid {
  padding: 3% 15% 7%;
  z-index: -1;
  text-align: left;
}

.section-heading {
  padding: 25px 0px 65px 0px !important;
}

/* headings */
.projects-heading {
  padding: 25px 0px 55px 0px;
  color: white;
  font-family: "Archivo Black", sans-serif !important;
  font-size: 35px !important;
}

.connect-heading {
  padding: 25px 0px 55px 0px;
  color: #14274e;
  font-family: "Archivo Black", sans-serif !important;
  font-size: 45px !important;
}

/* fontawesome */
.fa-user-check,
.fa-edit,
.fa-bolt,
.fa-chart-bar,
.fa-tasks,
.fa-search,
.fa-file-signature,
.fa-box-open,
.fa-utensils,
.fa-acquisitions-incorporated,
.fa-pallet,
.fa-industry,
.fa-oil-can {
  color: #394867;
}

.fa-exclamation-triangle {
  color: #ea4335;
}
/* cards */
.card-body {
  padding: 1rem 0.5rem !important;
  margin: 0rem !important;
}

.card-text {
  height: 50%;
}

.card {
  background-color: white !important;
  border-color: #14274e !important;
}

.list-group {
  max-height: 400px;
  margin-bottom: 10px;
  overflow: scroll;
}

/* text */

.contact-text {
  font-family: "Montserrat-Black", sans-serif !important;
  font-size: 35px;
  font-weight: bold;
  color: #14274e !important;
  padding: 20% 20% 10% 20%;
  text-align: left;
}

/* forms */

.form-div {
  margin: 10% 10%;
  padding: 5% 5%;
  background-color: #394867;
}

/* rows */
.footer-row {
  margin-bottom: -15px !important;
}

.round-div {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 25px;
  margin-bottom: 10px;
}

.row-padded {
  background-color: #9fb7d4;
  border-radius: 15px;
  padding: 10px;
}

.row-padded-dark {
  background-color: #112d4e;
  border-radius: 15px;
  padding: 10px;
}

.row-padded-light {
  background-color: #dbe2ef;
  border-radius: 15px;
  padding: 10px;
}

/* text */
.bold-style {
  color: #394867;
  font-size: x-large;
}

/* CSS for responsiveness */
/* Laptop */
@media screen and (max-width: 1024px) {
  img {
    width: 1024px;
  }

  .logo-img {
    width: 150px !important;
  }

  .profile-pics {
    width: 75px !important;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  img {
    width: 768px;
  }

  .logo-img {
    width: 100px !important;
  }

  .profile-pics {
    width: 45px !important;
  }
}

/* Cellphone */
@media screen and (max-width: 500px) {
  /* img {
    width: 450px;
  } */

  .logo-img {
    width: 80px !important;
  }

  h2 {
    font-size: medium !important;
  }

  h4 {
    font-size: small !important;
  }

  .img-iot {
    width: 420px;
    margin-top: 5%;
  }

  .div-iotImage {
    margin-left: 5%;
  }

  .text-white {
    font-size: 10px;
  }

  .part-logo {
    width: 100px;
  }

  .profile-pics {
    width: 70px !important;
  }

  .p-card {
    font-size: smaller;
  }

  .p-iot {
    font-size: smaller;
    margin-left: 5%;
    margin-bottom: 25px;
  }

  .h3-card {
    font-size: small;
  }

  .btn-lg {
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
  }

  .fa-user-check,
  .fa-edit,
  .fa-bolt,
  .fa-chart-bar,
  .fa-tasks,
  .fa-search,
  .fa-file-signature,
  .fa-box-open,
  .fa-utensils,
  .fa-acquisitions-incorporated,
  .fa-pallet,
  .fa-industry,
  .fa-oil-can {
    font-size: 10px;
  }

  .contact-text {
    font-size: large;
  }

  .round-div {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding-top: 15px;
    margin-bottom: 10px;
  }

  .icon {
    font-size: 0.5rem;
  }

  .icon-serv {
    font-size: 0.5rem;
    padding-left: 0;
    padding-top: 3%;
    margin: 0;
    text-align: left;
  }

  .serv-row {
    padding: 19px !important;
  }

  .contact-div {
    font-size: smaller;
  }

  .bold-style {
    font-size: small;
  }
}

/* Contact Details */
.contact-details {
  margin: 0% 0%;
  padding-top: 5%;
}

/* Validation */
input:invalid {
}

input:invalid:required {
}
